/* || General setup */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {  
  background-color: #a9a9a9;
}

body {
  width: 100%;
  min-width: 800px;
  margin: 0 auto;
  background-color: #0a141d;
}

/* || General images */

img{
  overflow: auto;
}

/* || typography */

h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2a2a2a;
  margin: 10px;
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
}

p, li {
  font-size: 1.1rem;
  color: whitesmoke;
  text-align: justify;
}

p {
 margin-left: 40px;
 margin-right: 40px;
 font-family: 'Roboto';
 font-weight: 300;
}

h1 {
  font-size: 52px;
  text-align: center;
  text-shadow: 2px 2px 10px black;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  color: #899ad5;
}

article h2{
  text-align: left;
  font-size: 26px;
  margin-left: 40px;
}

h2 {
  font-size: 1.4rem;
  text-align: center;
  color: #899ad5;
  text-transform: uppercase;
}

h3 {
  font-size: 1.1rem;
  color: #899ad5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

/* || aside layout*/

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}



main, article, aside, footer, section {
  background-color: #0a141d;
}

header {
  background-color: #0a141d;
}

nav {
  background-color: #0d2033;
  color: rgb(255, 255, 255);
}

/*:::::Añadido estructurado y forma noah*/

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {
  display: block;
  height: 60px;
  
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
  margin: 20px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
  justify-content: flex-start;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
  font-family: 'Times New Roman', Times, serif;
}

nav a, nav span {
  display: inline-block;
  font-size: 1.2rem;    
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);

}

/* || main layout */

main {
  display: flex;
  flex-wrap: wrap;
}

article {
  flex: 4 ;
}

section {
  flex: 1 0 80%;
  min-width: 80%;
}

footer {
  margin-top: 10px;
}

table {
  font-size: 20px;
  border-collapse: collapse;

}

td, th {
  border: 1px solid #a9a9a9;
  padding: 10px;
  text-align: center;
}

caption {
  background-color: #a9a9a9;
  font-size: 1rem;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

section div {
  text-align: center;
}

section table, section div {
  margin: 0 auto;  
}








/*:::::Añadido estructurado y forma noah*/


/*:::::Pie de Pagina*/


.logo-1{
 width: 25%;
}

.box-1{
 width: 75%;
}

.col-1, .col-2{
 display: flex;
}

.logo-1 figure{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.logo-1 figure img{
  width: 40px;
  margin: auto;
}

.pie-pagina{
  width: 100%;
  background-color: #0a141d;
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}

.red-social a{
  display: inline-block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
}

.red-social{
text-align: center;
}

.red-social figure{
  text-align: center;
}

.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}

.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small{
  font-size: 15px;
}

@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}

.quienes-somos{
  font-size: 15px;
  text-align: left;
}

.boton{
  font-size: 15px;
  text-align: left;
}

.red-social a img{
 max-width: 30px;
 display: flex;
}

/* Pagina Rooster */

.ejecutivos{
 margin: 40px;
}

.jugadores{
 margin: 40px;
}