/* ----------------------------------------------------------|| General Setup ----------------------------------------------------------*/
@font-face {
    font-family: 'Roboto';
    src: url('../fnt/Roboto/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: 400 700;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../fnt/Roboto/Roboto-Light.ttf');
    font-style: normal;
    font-weight: 100 300;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #a9a9a9;
}

body {
    width: 100%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #0a141d;
}

header,
main,
article,
aside,
footer,
section {
    background-color: #0a141d;
}


/* ----------------------------------------------------------|| General images ----------------------------------------------------------*/


img {
    overflow: auto;
}


/* ---------------------------------------------------------|| Document Settings ---------------------------------------------------------*/



/* --------------------|| Header Settings --------------------*/


/* || Header Nav*/


header {
    text-align: center;
}

header nav {
    background-color: #0d2033;
    color: rgb(255, 255, 255);
    clear: both;
    height: 4em;
    display: flex;
    align-items: stretch;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

header nav ul li {
    padding: 20px 0;
    text-align: center;
    list-style: none;
    width: 100%;
}

header nav ul li a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: white;
    font-size: 18px;
    display: block;
}

header nav ul li:hover a{
    font-size: 20px;
}

header li:hover {
    background-color: #b30f42;
}

.active{
    background-color: #b30f42;
    padding: 21px 0;
}

/* || Header Title*/


h1 {
    font-size: 52px;
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    color:  #b30f42;
    margin: 20px 0;
}


/* || Header Images*/


header img {
    float: right;
    height: 60px;
    margin: 10px;
}

/* --------------------|| Flex Settings --------------------*/


main {
    flex-wrap: wrap;
}

section {

    min-width: 80%;
    padding: 2em 3em;
}


/* --------------------|| Section Settings --------------------*/


/* || Section Titles*/


section h2 {
    font-size: 1.4rem;
    display: inline-block;
    text-align: left;
    color: #b30f42;
    text-transform: uppercase;
}

section h3 {
    font-size: 1.1rem;
    color: #899ad5;
}

section h2,
section h3 {
    font-family: 'Roboto', sans-serif;
    color: #2a2a2a;
    margin: 10px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}


/* || Section P, li ul, td...*/


section p,
section li {
    font-size: 1.1rem;
    color: whitesmoke;
    text-align: justify;
}

section p {
    margin: 1em;
    font-family: 'Roboto';
    font-weight: 300;
}

/* || Section Classes*/


.section-banner {
    text-align: center;
}


/* --------------------|| Aside Settings --------------------*/


aside{
    background-color:  #0d2033;
    margin: 5px 0;
}

/* || Section text & Images*/


aside {
    flex: 1;
    padding: 1%;
}

aside a {
    display: block;
    float: left;
    width: 50%;
}


/* || Aside Images*/


aside img {
    max-width: 100%;
}


/* --------------------|| Footer Settings --------------------*/


/* || Footer General Titles*/


footer h2 {
    font-size: 1.4rem;
    text-align: left;
    color: #b30f42;
    text-transform: uppercase;
}


/* || Footer Ul Li Settings*/


footer ul li {
    list-style: none;
    font-family: 'Roboto';
    font-weight: 300;
}


/* || Footer Links Settings*/


footer a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
}

footer a:hover{
    color: #b30f42;
}

footer .red-social a:hover img{
    max-width: 25px;
    display: inline-block;
    align-items: center;
}

/* || Footer Classes Settings*/


.logo-1 {
    width: 25%;
}

.box-1 {
    width: 75%;
}

.col-1,
.col-2 {
    display: flex;
}

.logo-1 figure {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.logo-1 figure img {
    width: 40px;
    margin: auto;
}

.pie-pagina {
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}

.red-social {
    text-align: center;
}

.red-social {
    text-align: center;
}

.red-social figure {
    text-align: center;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

.quienes-somos {
    font-size: 15px;
    text-align: left;
}

.boton {
    font-size: 15px;
    text-align: left;
}

.red-social a img {
    max-width: 30px;
    display: flex;
}

.div1{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer ul{
    color: white;
}

.social-networks > h2{
    text-align: center;
}

.box-1 h2{
    margin-bottom: 5px;
}

/* ---------------------------------------------|| Rooster Page ---------------------------------------------*/


/* || Executive & Bosses Settings*/


section #owners{
    color: #b30f42;
    text-align: center;
    display: block;
}

section .ejecutivos{
    text-align: center;
    margin: 15px;
    margin-bottom: 100px;
}

section .ejecutivos img{
    text-align: center;
    margin: 5px;
}


/* || Pro Players Settings*/


section #players{
    color: #b30f42;
    text-align: center;
    display: block;
}

section .jugadores{
    text-align: center;
    margin: 15px;
    margin-bottom: 100px;
}

section .jugadores img{
    text-align: center;
    margin: 5px;
}


/* || Players Text Settings*/


#texto-jugadores{
    width: 80%;
    margin: 0 auto;
}

#texto-jugadores p{
    font-size: 22px;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 300;
}

#texto-jugadores h2{
    font-size: 200%;
    color: #b30f42;
}

.todos-textos{
    margin-bottom: 60px;
}


